body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

form {
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 10px 0px;
  /* padding: 1px 10px; */
}

.texts {
  width: 40px;
  margin: 0px;
  padding: 0px 4px;
}

#simulationArea {
    background-color: black;
  }

.button:hover {
    background-color: #fff;
    color:black;
  }

#toolbar {
    width: 100%;
    padding: 10px;
    text-align: left;
    position: relative;
    left: 0;
    top: 0%;
    background-color: rgb(220, 132, 0);
}